body{
	background-image: url(http://bbwbettiepumpkin.com/nba-logo/nba-logo-who-should-replace-jerry-west-on-a-new-nba-logo-the-undefeated-printable-2/);
	text-align: center;
}

.text-muted{
	color: blue;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}